@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300');

.foodList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sections{
    font-family: 'Noto Sans TC', sans-serif;
    border: 2px solid black;
    padding-top: 20px;
    max-width: 250px;
    flex-basis: 10%;
    margin: 15px;

}